body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #quote-box {
    max-width: 50%;
    padding: 10px;
    position: absolute;
    top: 35%;
  }
  #author {
    text-align: end;
  }
  button {
    border: 0;
  }